{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-3">Оставить отзыв</h1>
    <form method="POST" action="{{ url_for('books.send_review', book_id=book[0]) }}" enctype="multipart/form-data" class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="rating" class="form-label">Оценка</label>
                <select class="form-select" name="rating_id" id="rating">
                    <option value="5" selected>Отлично</option>
                    <option value="4">Хорошо</option>
                    <option value="3">Удовлетворительно</option>
                    <option value="2">Неудовлетворительно</option>
                    <option value="1">Плохо</option>
                    <option value="0">Ужасно</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="text_review" class="form-label">Текст отзыва</label>
                <textarea class="form-control" name="text_review" id="text_review" cols="20" rows="10"></textarea>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Отправить">
            </div>
        </div>
    </form>
</div>
{% endblock %}
