{% extends 'base.html' %}

{% block content %}
    <h1>Мои подборки</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Название подборки</th>
                <th>Количество книг</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
                <tr>
                    <td>{{ collection.name }}</td>
                    <td>{{ collection.book_count }}</td>
                    <td>
                        <a href="{{ url_for('collect.view_collection', collection_id=collection.id) }}" class="btn btn-primary">Просмотр</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}