{% extends 'base.html' %}

{% block content %}
    <h1>Подборка: {{ collection.name }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Название книги</th>
                <th>Автор</th>
                <th>Год издания</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}