{% macro pagination(current_page, last_page, endpoint) %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item {% if current_page == 1 %} disabled {% endif %}"><a class="page-link" href="{{ url_for(endpoint, page = current_page - 1) }}">Предыдущая</a></li>
        {% set start = [1, current_page - 3] | max %}
        {% set end = [last_page, current_page + 3] | min %}
        {% for page in range(start, end + 1) %}
        <li class="page-item {% if current_page == page %} active {% endif %}"><a class="page-link" href="{{ url_for(endpoint, page = page) }}">{{ page }}</a></li>
        {% endfor %}
        <li class="page-item {% if current_page == last_page %} disabled {% endif %}"><a class="page-link" href="{{ url_for(endpoint, page = current_page + 1) }}">Следующая</a></li>
    </ul>
</nav>
{% endmacro %}